<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Leo Nguyen - Portfolio</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <!-- Favicons -->
      {% include favicons.html %}
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!-- Vendor CSS Files -->
      <link href="{{ 'assets/portfolio/assets/vendor/aos/aos.css' | relative_url }}" rel="stylesheet">
      <link href="{{ 'assets/portfolio/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
      <link href="{{ 'assets/portfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css' | relative_url }}" rel="stylesheet">
      <link href="{{ 'assets/portfolio/assets/vendor/boxicons/css/boxicons.min.css' | relative_url }}" rel="stylesheet">
      <link href="{{ 'assets/portfolio/assets/vendor/glightbox/css/glightbox.min.css' | relative_url }}" rel="stylesheet">
      <link href="{{ 'assets/portfolio/assets/vendor/swiper/swiper-bundle.min.css' | relative_url }}" rel="stylesheet">
      <!-- Template Main CSS File -->
      <link href="{{ 'assets/portfolio/assets/css/style.css' | relative_url }}" rel="stylesheet">
      <!-- =======================================================
         * Template Name: iPortfolio - v3.7.0
         * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
         * Author: BootstrapMade.com
         * License: https://bootstrapmade.com/license/
         ======================================================== -->
   </head>
   <body>
      <!-- ======= Mobile nav toggle button ======= -->
      <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
      <!-- ======= Header ======= -->
      <header id="header">
         <div class="d-flex flex-column">
            <div class="profile">
               <img src="{{ 'assets/portfolio/assets/img/leo-profile-img.jpg' | relative_url }}" alt="Portfolio Leo" class="img-fluid rounded-circle">
               <h1 class="text-light"><a href="index.html">Leo Nguyen</a></h1>
               <div class="social-links mt-3 text-center">
                  <a href="https://zmerrychristmas.github.io" class="bx"><i class="bi bi-emoji-smile"></i></a>
                  <a href="skype:zmerrychristmas?chat" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="https://www.linkedin.com/in/leo-nguy%E1%BB%85n-75312a7b/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                  <a href="https://github.com/zmerrychristmas" class="bx"><i class="bi bi-github"></i></a>
               </div>
            </div>
            <nav id="navbar" class="nav-menu navbar">
               <ul>
                  <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                  <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                  <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                  <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                  <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                  <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
               </ul>
            </nav>
            <!-- .nav-menu -->
         </div>
      </header>
      <!-- End Header -->
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
         <div class="hero-container" data-aos="fade-in">
            <h1>Leo</h1>
            <p>I'm <span class="typed" data-typed-items="Software Developer specialist, Backend Developer, Fullstack Developer, Freelancer"></span></p>
         </div>
      </section>
      <!-- End Hero -->
      <main id="main">
         <!-- ======= About Section ======= -->
         <section id="about" class="about">
            <div class="container">
               <div class="section-title">
                  <h2>About</h2>
                  <p>Hi friends, <br/>
                     I graduated from VNU-UET in 2014.
                     I have been working in computer software engineering since 2014.
                     I am a passionate software developer also full-stack developer with my favorite languages are PHP, Rails and Javascript, VueJS and ReactJS... I am also a DevOps Engineer with using Docker, AWS, Kubernetes at work.<br />
                     I am responsible and adaptive, humble to learn and try the technology at work.
                     With me, a dream developer where I want to build and scale a better system to serve customers and users across the world.<br />
                     Hobbies: Reading book, Music, New Technology, Walking.
                  </p>
               </div>
               <div class="row">
                  <div class="col-lg-4" data-aos="fade-right">
                     <img src="{{ 'assets/portfolio/assets/img/leo_1.jpg' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                  </div>
                  <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                     <h3>Fullstack Developer &amp; Web Developer.</h3>
                     <p class="fst-italic">
                        Software developer with passion and integrity hard work with more than 7 years of experiences and a variety of different domains in software projects.
                     </p>
                     <div class="row">
                        <div class="col-lg-6">
                           <ul>
                              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>27 Sep 1992</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.zmerrychristmas.github.io</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+84 965 841 492</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Da Nang, VN</span></li>
                           </ul>
                        </div>
                        <div class="col-lg-6">
                           <ul>
                              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>leonguyen.starvisit@gmail.com</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                           </ul>
                        </div>
                     </div>
                     <p>
                        Have hands-on experience with the back-end side and database handling, web base integration with infrastructure such as CI/CD, Log, AWS services. 
                        Have experience in building web-based systems such as booking, dashboard management, tourisment, visual view and evaluating projects. Developing the app with Japanese customers, integrating payment, building app extensions shopify, and developing server-side with well technology and highly user experience. <br />
                        I can work independently and under pressure with high discipline and stability.<br />
                        Good solution-oriented skills, problem-solving skills, teamwork spirit, humility, and friendly.
                     </p>
                  </div>
               </div>
            </div>
         </section>
         <!-- End About Section -->
         <!-- ======= Facts Section ======= -->
         <section id="facts" class="facts">
            <div class="container">
               <div class="section-title">
                  <h2>Facts</h2>
                  <p>Problem Solver, Reponsible and Reliable at work. Passionate and Balancer between work and life. Avaible at Freelancer. I have work at Upwork.com for a year in 2021. Can found me at <a href="https://www.upwork.com/freelancers/~01223876dc1cfc88eb?viewMode=1" target="_blank">here</a></p>
               </div>
               <div class="row no-gutters">
                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                     <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Happy Clients</strong> reponse</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                     <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="52" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Projects</strong> positive response</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                     <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="700" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hours Of Support</strong> to clients</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                     <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hard Workers</strong> and collaborate</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Facts Section -->
         <!-- ======= Skills Section ======= -->
         <section id="skills" class="skills section-bg">
            <div class="container">
               <div class="section-title">
                  <h2>Skills</h2>
                  <p>Overall skills on Web Development and Rest Api Development.</p>
               </div>
               <div class="row skills-content">
                  <div class="col-lg-6" data-aos="fade-up">
                     <div class="progress">
                        <span class="skill">Web Development <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">HTML, CSS, Javascript <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Ruby <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">MySQL <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Vue.JS, ReactJS <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Problem Solving<i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Python, Golang <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">PostgresSQL, MongoDB<i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                     <div class="progress">
                        <span class="skill">Rest API Development <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">PHP <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Laravel <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Ruby On Rails <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Windows, Linux <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Docker & Goodle Cloud Platform <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Agile/Scrum <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">AWS Servies <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Skills Section -->
         <!-- ======= Resume Section ======= -->
         <section id="resume" class="resume">
            <div class="container">
               <div class="section-title">
                  <h2>Resume</h2>
                  <p>Highly experienced and skilled in PHP, Ruby on Rails and Laravel, RESTful API as well as  Python, Golang, VueJS, DevOps, and other frameworks.</p>
               </div>
               <div class="row">
                  <div class="col-lg-6" data-aos="fade-up">
                     <h3 class="resume-title">Sumary</h3>
                     <div class="resume-item pb-0">
                        <h4>Leo Nguyen</h4>
                        <p><em>Innovative and deadline-driven Senior Software Developer with 7+ years of experience designing and developing web and rest api development from initial concept to completed build, highly accurate and rich features.</em></p>
                        <ul>
                           <li>(84) 965-841492</li>
                           <li>leonguyen.starvisitt@gmail.com</li>
                        </ul>
                     </div>
                     <h3 class="resume-title">Education</h3>
                     <div class="resume-item">
                        <h4>Bachelor of Computer Software &amp; Networking</h4>
                        <h5>2010 - 2014</h5>
                        <p><em>VNU - University of Engineering and Technology</em></p>
                        <p>Computer Software Engineer & Networking
                        <pre>- Computer software development 
                - Algorithms and Datastructures
              - Security mechanism and role management</pre>
                        </p>
                     </div>
                     <h3 class="resume-title">Certificates &amp; Awards</h3>
                     <div class="resume-item">
                        <h4>Certificate of Center For Cooperating And Transferring Knowledge</h4>
                        <h5>2013</h5>
                        <p><em>VNU - University of Engineering and Technology</em></p>
                     </div>
                     <div class="resume-item">
                        <h4>Problem Solving (Basic) Certificate</h4>
                        <h5>2022</h5>
                        <p><em>Hackkerank</em></p>
                     </div>
                     <div class="resume-item">
                        <h4>Rest API (Intermediate) Certificate</h4>
                        <h5>2022</h5>
                        <p><em>Hackkerank</em></p>
                     </div>
                     <div class="resume-item">
                        <h4>Sales Pop</h4>
                        <h5>2017</h5>
                        <p><em>Shopify</em></p>
                        <p>Top free app extension on shopify.Give a cutie notice but helpful content to help increase cross-sell and coverage of shop applications like buy, and advertisement.  
                        </p>
                     </div>
                     <div class="resume-item">
                        <h4>Learning Math Android App</h4>
                        <h5>2013-2014</h5>
                        <p>A consolation prize for a written Android app to help kids learn math </p>
                     </div>
                     <h3 class="resume-title">Pastimes &amp; Activities</h3>
                     <div class="resume-item">
                        <p>
<pre>Passionate with programming and technologies.
Listening to music and watching movies.
Do Taichi and practical kendo to balance work time and lifetime. 
I like reading manga and anime. 
I volunteered at the library for students when I studied at university.
Hard core gamer, upload video game on Youtube with 
have 200+ follower and thousands views.
</pre>
                        </p>
                     </div>
                    <h3 class="resume-title">Confidential Projects</h3>
                     <div class="resume-item">
                        <h4>PHP Developer - Rails Developer</h4>
                        <ul>
<li>
The projects are about developing web-based, features and maintaining websites for products such as e-commerce, Restful-Api, LMS, news, applications:  http://izziedu.vn, Cenports Inc. Pentalog, http://ototreem.vn, property.starktech.jp …  and other products as LMS education domain.
</li>
<li>Study and clarify requirements from customers.</li>
<li>Build and develop project features, Write code and debug code, and code review.</li>

                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                     <h3 class="resume-title">Professional Experience</h3>
                     <div class="resume-item">
                        <h4>Senior Software Developer</h4>
                        <h5>11-2021 - Present</h5>
                        <p><em>CMC</em></p>
                        <ul>
                           <li>Senior backdend developer specialist on Pomelo projects, Large and complex but enough of enthusiasm and passionate. Role for maintain and development with high features delivery with international team.</li>
                           <li>Hands on task from backend in infrastures with effective code in e-commerce fashion industry. Team size from 15 to 50 members.</li>
                           <li>Developed and presented findings and solutions to audiences including senior
                              executives and stakeholders.
                           </li>
                           <li>Brought forth a passion and dedication to software development.Worked on internal and external projects with great care.</li>
                        </ul>
                     </div>
                     <div class="resume-item">
                        <h4>Fullstack Developer Specialist</h4>
                        <h5>2021</h5>
                        <p><em>Upwork.com &amp; zmerrychristmas.github.io</em></p>
                        <ul>
                          <li>Developed numerous website and backend rest api (Booking, Visual Admin Dashboard, Google SEO API, Youtube API, Agora.io, ...).</li>
                          <li>More than 5+ projects or tasks at a given time while under pressure</li>
                          <li>
                             makerspace-staging.vinova.sg, a website system to manage office bookings and office equipment such as tables and chairs, rooms, event organizers
  <pre>- Tech:Docker , RoR, PostgressSQl</pre>
                          </li>
                             SugarOKR: Website to manage the progress of the company's team, with a set of tools to help managers have a visualization view and evaluate the project.
  <pre>- Tech: Docker, RoR, PostgressSQl</pre>
                          </li>
                          <li>
                             Seotoolbox.io : Create web measure ranking as an SEO tool to evaluate any website. Data generated and qualified by Google Lighthouse tool.
  <pre>- Tech: PHP, WordPress theme, Javascript, CSS</pre>
                          </li>
                          <li>
                             Streaming app: Create API and Dashboard for streaming app content serve user, provide the best way to live stream, call video and group chat
  <pre>- Tech: PHP, Laravel 8, Agora.io, Javascript, CSS</pre>
                          </li>
                        </ul>
                     </div>
                    <div class="resume-item">
                     <h4>Senior Backend Developer</h4>
                     <h5>Apr 2019 - Oct 2020</h5>
                     <p><em>Rikkeisoft.Inc</em></p>
                     <ul>
                      <li>Coding platform challenger: Ricode is an open programming platform with a website interactive with students and those who love programming. URL: https://ricode.rikkei.org/. My role is to design architecture, build a compiler tool and track project progress, maintain and work with tasks.</li>
<pre>- Position: Technical leader, Senior backend developer
 - Tech: Docker, RoR, Django, Mysql 
 - Tools: Sublime text, Docker tools</pre>
                      <li>Architecture and Design webased system for japanses customer, big company partner with project used Ruby On Rails, Django, Laravel, CakePHP and many news technology and deploy in AWS Cloud</li>
                        </li>
                     </ul>
                  </div>
                  <div class="resume-item">
                     <h4>Senior Backend Developer</h4>
                     <h5>Feb 2018 - Mar 2019</h5>
                     <p><em>Rikkeisoft.Inc</em></p>
                     <ul>
                      <li>Coding platform challenger: Ricode is an open programming platform with a website interactive with students and those who love programming. URL: https://ricode.rikkei.org/. My role is to design architecture, build a compiler tool and track project progress, maintain and work with tasks.</li>
<pre>- Position: Technical leader, Senior backend developer
 - Tech: Docker, RoR, Django, Mysql 
 - Tools: Sublime text, Docker tools</pre>
                      <li>Architecture and Design webased system for japanses customer, big company partner with project used Ruby On Rails, Django, Laravel, CakePHP and many news technology and deploy in AWS Cloud</li>
                        </li>
                     </ul>
                  </div>
                  <div class="resume-item">
                     <h4>Backend Developer</h4>
                     <h5>Aug 2016 - Jan 2018</h5>
                     <p><em>DCV JSC</em></p>
                     <ul>
<li>Building extensions, popular apps for e-commerce platforms: Shopify, woocommerce
<pre>- Technology:
- Languages: PHP, JSON, Git Commit
Framework: Symfony2, Vue.js
</pre>app: Sales Pop on Shopify. 100% Free but trusted by more than 658,000 online businesses all over the world</li>
<li>Department and a delivery partner of other companies like Panasonic, Innovatube, and Toshiba. The projects are about developing and maintaining websites for products from izziedu.vn, Cenports Inc, Pentalog, ototreem.vn, property.starktech.jp, and other products like learning management system domain.</li>
<li>Write plugins and maintain source code for the project. Specifically redmine plugin at Panasonic inc.</li>
<li>Write backend side on a project about construction engineers and management contractors at Innovatube inc.
<pre>- Position: Senior Dev PHP, Rails
- Tech: Rails plugins, PHP, Laravel, MySQL, HTML, JS
- Tools: Sublime Text, PHP Storm, Git, Mysql Workbench</pre>
</li>
                     </ul>
                  </div>
                  <div class="resume-item">
                     <h4>Software Progamer</h4>
                     <h5>Jun 2014 - Jul 2016</h5>
                     <p><em>Altplus.Inc</em></p>
                     <ul>
<li>Internship: During the internship, I familiarize myself with some PHP frameworks such as CodeIgniter, Magento, Bootstrap, familiarize with e-commerce, and write extensions for Magento. After Internship attend to a project with role of Software Develop I</li>
<li>
  Develop and Build the Server-side for the game Derby Road. Logic process in game about horse racing, help to respond requests API to client- Analyzed and designed new systems and applications.
<pre>
- Technology:+ Languages: PHP, JSON, Git
- Framework: Confidential Framework PHP, Laravel
</pre>
 <li>Develop and Build the server-side for Livmo app; Grab content, news from websites to building RSS index server.
<pre>
- Impressive and design back to requirements
- Technology:Ruby, SQL, Ruby On Rails, AWS Elastich Search.
- Tools: Git, MySQL Workbench, PHPStorm, Sublime Text
</pre></li>
                     </ul>
                  </div>
                  </div>
               </div>
            </div>
            </div>
            </div>
         </section>
         <!-- End Resume Section -->
         <!-- ======= Portfolio Section ======= -->
         <section id="portfolio" class="portfolio section-bg">
            <div class="container">
               <div class="section-title">
                  <h2>Portfolio</h2>
                  <p>I have been working for more than 7+ years as Software developer in various domain like as E-commerce, Game Backend API and Management, Human Resource, Learning Management System, tourisment, restAPI for mobile, streamming, blog, CMS dashboard, DevOps.</p>
               </div>
               <div class="row" data-aos="fade-up">
                  <div class="col-lg-12 d-flex justify-content-center">
                     <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-web">Web</li>
                        <li data-filter=".filter-card">Other</li>                        
                     </ul>
                  </div>
               </div>
               <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/horse-racing.webp' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/horse-racing.webp' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Derby Horse Road"><i class="bx bx-plus"></i></a>
                         <!--   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/cenport-tracking.png' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/cenport-tracking.png' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Mall Tracking Free Services"><i class="bx bx-plus"></i></a>
                          <!--  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/livmo-app.png' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/livmo-app.png' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Livmo App"><i class="bx bx-plus"></i></a>
                         <!--   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/LMS-moodle.jpg' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/LMS-moodle.jpg' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Learning Management System used Moodle(Monolith)"><i class="bx bx-plus"></i></a>
                         <!--   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/rcoding-platform.png' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/rcoding-platform.png' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Colding Platfrom Challenger"><i class="bx bx-plus"></i></a>
                     <!--       <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/TouristmentTravel.gif' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/TouristmentTravel.gif' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Touristment Travel Booking Website"><i class="bx bx-plus"></i></a>
                     <!--       <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/SalePOP.png' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/SalePOP.png' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Sale Pop"><i class="bx bx-plus"></i></a>
                         <!--   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/makerspace.jpg' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/makerspace.jpg' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Makerspace"><i class="bx bx-plus"></i></a>
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/SugarOKR.png' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/SugarOKR.png' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Sugar OKR"><i class="bx bx-plus"></i></a>
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                     <div class="portfolio-wrap">
                        <img src="{{ 'assets/portfolio/assets/img/portfolio/leo/Fashion-Ecommerce.jpeg' | relative_url }}" class="img-fluid" alt="Portfolio Leo">
                        <div class="portfolio-links">
                           <a href="{{ 'assets/portfolio/assets/img/portfolio/leo/Fashion-Ecommerce.jpeg' | relative_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fashion-Ecommerce"><i class="bx bx-plus"></i></a>
 <!--                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Portfolio Section -->
         <!-- ======= Services Section ======= -->
         <section id="services" class="services">
            <div class="container">
               <div class="section-title">
                  <h2>Services</h2>
                  <p>For the past time worked as a hark worker, software developer specialist; I understand software development process and how is hard from start something from scratch to development with an idea. If you like my work. Hire me!</p>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                     <div class="icon"><i class="bi bi-briefcase"></i></div>
                     <h4 class="title"><a href="">Web developer</a></h4>
                     <p class="description">Building high quality and rick features, easy to understand and more suitable with client requirements.</p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                     <div class="icon"><i class="bi bi-card-checklist"></i></div>
                     <h4 class="title"><a href="">Api Deverloper</a></h4>
                     <p class="description">RESTFull API design and architecture for web based, mobile, and microservices or small system but need a handon with highly accurate!</p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                     <div class="icon"><i class="bi bi-bar-chart"></i></div>
                     <h4 class="title"><a href="">Fullstack Developer</a></h4>
                     <p class="description">I am a deadline driven to ensure my job done is necessary, I am keen on requirement and task and from my perspective completed client tickets is my success.</p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                     <div class="icon"><i class="bi bi-binoculars"></i></div>
                     <h4 class="title"><a href="">PHP Developer</a></h4>
                     <p class="description">Master in PHP skill, understand and have working on popular frameworks as Laravel, Symphony, CakePHP, Zend...</p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                     <div class="icon"><i class="bi bi-brightness-high"></i></div>
                     <h4 class="title"><a href="">Ruby On Rails Developer</a></h4>
                     <p class="description">Rails is one of my favorite frameworks. Rails is power with performances, effective code save a lot of time from building and development.</p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                     <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                     <h4 class="title"><a href="">Teach code</a></h4>
                     <p class="description">Mentor other people to learn code, algorithm and data structure, OOP and agile/scrum methodologies. This is my pleasure.</p>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Services Section -->
         <!-- ======= Testimonials Section ======= -->
<!--          <section id="testimonials" class="testimonials section-bg">
            <div class="container">
               <div class="section-title">
                  <h2>Testimonials</h2>
                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
               </div>
               <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                           <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                           </p>
                           <img src="{{ 'assets/portfolio/assets/img/testimonials/testimonials-1.jpg' | relative_url }}" class="testimonial-img" alt="Portfolio Leo">
                           <h3>Saul Goodman</h3>
                           <h4>Ceo &amp; Founder</h4>
                        </div>
                     </div> -->
                     <!-- End testimonial item -->
<!--                      <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                           <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                           </p>
                           <img src="{{ 'assets/portfolio/assets/img/testimonials/testimonials-2.jpg' | relative_url }}" class="testimonial-img" alt="Portfolio Leo">
                           <h3>Sara Wilsson</h3>
                           <h4>Designer</h4>
                        </div>
                     </div> -->
                     <!-- End testimonial item -->
<!--                      <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                           <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                           </p>
                           <img src="{{ 'assets/portfolio/assets/img/testimonials/testimonials-3.jpg' | relative_url }}" class="testimonial-img" alt="Portfolio Leo">
                           <h3>Jena Karlis</h3>
                           <h4>Store Owner</h4>
                        </div>
                     </div> -->
                     <!-- End testimonial item -->
<!--                      <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                           <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                           </p>
                           <img src="{{ 'assets/portfolio/assets/img/testimonials/testimonials-4.jpg' | relative_url }}" class="testimonial-img" alt="Portfolio Leo">
                           <h3>Matt Brandon</h3>
                           <h4>Freelancer</h4>
                        </div>
                     </div> -->
                     <!-- End testimonial item -->
<!--                      <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                           <p>
                              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                           </p>
                           <img src="{{ 'assets/portfolio/assets/img/testimonials/testimonials-5.jpg' | relative_url }}" class="testimonial-img" alt="Portfolio Leo">
                           <h3>John Larson</h3>
                           <h4>Entrepreneur</h4>
                        </div>
                     </div> -->
                     <!-- End testimonial item -->
<!--                   </div>
                  <div class="swiper-pagination"></div>
               </div>
            </div>
         </section> -->
         <!-- End Testimonials Section -->
         <!-- ======= Contact Section ======= -->
         <section id="contact" class="contact">
            <div class="container">
               <div class="section-title">
                  <h2>Contact</h2>
                  <p>Please contact for futher discussion. Looking forward to hear from you!</p>
               </div>
               <div class="row" data-aos="fade-in">
                  <div class="col-lg-5 d-flex align-items-stretch">
                     <div class="info">
                        <div class="address">
                           <i class="bi bi-geo-alt"></i>
                           <h4>Location:</h4>
                           <p>CMC Tower, 11 Duy Tan, Cau Giay, Ha Noi</p>
                        </div>
                        <div class="email">
                           <i class="bi bi-envelope"></i>
                           <h4>Email:</h4>
                           <p>leonguyen.starvisit@gmail.com</p>
                        </div>
                        <div class="phone">
                           <i class="bi bi-phone"></i>
                           <h4>Call:</h4>
                           <p>+84 965 841 492</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0545119501944!2d105.78213730146764!3d21.03050473592875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abd7794071a3%3A0x32420a08fc95f9a!2zQ01DIFRvd2VyIC0gQ2hvIHRodcOqIHbEg24gcGjDsm5nIEjDoCBO4buZaQ!5e0!3m2!1sen!2s!4v1650803040399!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                     </div>
                  </div>
                  <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                     <form action="https://formkeep.com/f/d6ce12f09cb6" method="post" role="form" class="php-email-form" accept-charset="UTF-8" enctype="multipart/form-data">
                        <div class="row">
                           <div class="form-group col-md-6">
                              <label for="name">Your Name</label>
                              <input type="text" name="name" class="form-control" id="name" required>
                           </div>
                           <div class="form-group col-md-6">
                              <label for="name">Your Email</label>
                              <input type="email" class="form-control" name="email" id="email" required>
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="name">Subject</label>
                           <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                           <label for="name">Message</label>
                           <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                           <div class="loading">Loading</div>
                           <div class="error-message"></div>
                           <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Contact Section -->
      </main>
      <!-- End #main -->
      <!-- ======= Footer ======= -->
      <footer id="footer">
         <div class="container">
            <div class="copyright">
               &copy; Copyright <strong><span>zmerrychristmas.github.io</span></strong>
            </div>
            <div class="credits">
               <!-- All the links in the footer should remain intact. -->
               <!-- You can delete the links only if you purchased the pro version. -->
               <!-- Licensing information: https://bootstrapmade.com/license/ -->
               <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
               Designed by <a href="https://zmerrychristmas.github.com">Leo</a>
            </div>
         </div>
      </footer>
      <!-- End  Footer -->
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      <!-- Vendor JS Files -->
      <script src="{{ 'assets/portfolio/assets/vendor/purecounter/purecounter.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/aos/aos.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/glightbox/js/glightbox.min.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/swiper/swiper-bundle.min.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/typed.js/typed.min.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/waypoints/noframework.waypoints.js' | relative_url }}"></script>
      <script src="{{ 'assets/portfolio/assets/vendor/php-email-form/validate.js' | relative_url }}"></script>
      <!-- Template Main JS File -->
      <script src="{{ 'assets/portfolio/assets/js/main.js ' | relative_url }}"></script>
   </body>
</html>